$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$ff-main: "Spartan", sans-serif;
$fw-bolder: 700;
$fw-bold: 500;
$fw-normal: 400;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@function rem($value) {
  @return ($value / 16) * 1rem;
}

body {
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat no-repeat;
  background-position: top, bottom;
  font-size: rem(15);
  font-family: $ff-main;
}

.container {
  width: 88%;
  margin: rem(78) auto;
}

.titles {
  text-align: center;
  .main-title {
    font-size: rem(31.2);
    font-weight: $fw-bolder;
    width: 16rem;
    margin: auto;
    line-height: 30px;
    color: $very-dark-magenta;
  }
  .main-text {
    color: $dark-grayish-magenta;
    font-weight: $fw-bold;
    font-size: rem(14.5);
    line-height: 24px;
    margin-top: rem(20);
  }
}

.ratings {
  text-align: center;
  margin-top: rem(36);
  margin-bottom: rem(47);

  .rated {
    background-color: $light-grayish-magenta;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.9rem;

    &::before {
      content: "";
      display: block;
      background-image: url("/images/icon-star.svg");
      width: 85px;
      height: 1rem;
      background-repeat: space;
      margin: 0 auto;
      margin-bottom: 0.7rem;
    }
    span {
      color: $very-dark-magenta;
      font-weight: $fw-bolder;
      font-size: rem(13);
    }
  }
}

.reviews {
  img {
    border-radius: 50%;
    max-width: rem(40);
  }
  .user-review {
    background-color: $very-dark-magenta;
    border-radius: 8px;
    padding: rem(37) rem(32);
    margin-bottom: 1rem;
  }

  .user-review:last-of-type {
    margin-bottom: 0;
  }

  .review-text {
    font-size: rem(12.6);
    line-height: 22px;
    color: $light-grayish-magenta;
    margin-top: 1.5rem;
  }
}

.user-review-info {
  display: flex;
  align-items: center;
  .user-review-name {
    margin-left: 1.2rem;
    .user-name {
      color: $white;
      font-weight: $fw-bold;
      font-size: rem(12);
      margin-bottom: 0.2rem;
    }
    .status {
      color: $soft-pink;
      font-weight: $fw-normal;
      font-size: rem(12);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
